<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Database=DatabaseManagement733;Server=us-cdbr-azure-east-a.cloudapp.net;Uid=b89ee6bf0326d0;Pwd=2909278a" name="followmetest" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
